<script>
  var onZoom = (e) => {
    let { min, max } = e.xAxis[0]
    let startDate = new Date(min).toISOString()
    var endDate = new Date(max).toISOString()
    window.location = `${window.location.pathname}?range=${startDate}..${endDate}`
  }
</script>

<h1><%= @repository.name %></h1>

<p>Status: <%= @repository.status %></p>

<% if @repository.status == "importing" %>
  <p>Progress: <%= (import_progress(@repository) * 100).round %>%</p>
<% end %>

<% if @range %>
  <p>Showing results between <%= @range.begin %> to <%= @range.end %>. <%= link_to "Reset", request.path %></p>
<% end %>

<% if @repository.status == "imported" %>
  <p>LOC: <%= @current_loc %></p>

  <h2>Significant commits</h2>
  <div id="chart-commits"></div>
  <script>
    Highcharts.chart('chart-commits', {
      chart: {
        type: 'bubble',
        zoomType: 'x',
        events: { selection: onZoom }
      },
      title: { text: null },
      xAxis: { type: 'datetime' },
      yAxis: {
        plotLines: [{
          color: "#333333",
          value: 0,
        }]
      },
      plotOptions: {
        series: {
          dataLabels: {
            enabled: true,
            format: '{point.diff}'
          },
          events: {
            click: (e) => { window.open('/commits/' + e.point.options.id, '_blank') }
          }
        }
      },
      tooltip: {
        useHTML: true,
        backgroundColor: "#FFFFFF",
        headerFormat: '<table>',
        pointFormat: '<tr><th><h3>{point.subject}</h3></th></tr>' +
          '<tr><th>+{point.insertions}</td></tr>' +
          '<tr><th>-{point.deletions}</td></tr>',
        footerFormat: '</table>',
        followPointer: true
      },
      legend: { enabled: false },
      series: [{
        type: 'bubble',
        data: <%=raw @significant_commits.map { |commit| { x: commit.commited_at.to_i * 1000, y: commit.net_diff, z: commit.net_diff.abs, diff: commit.net_diff.to_s, subject: commit.subject, insertions: commit.insertions, deletions: commit.deletions, color: commit.net_diff.negative? ? "#FF0000" : "#00FF00", id: commit.id } }.to_json %>
      }],
    })
  </script>

  <h2>Lines of code: Language distribution</h2>
  <div id="chart-implementation"></div>
  <script>
    Highcharts.chart('chart-implementation', {
      chart: {
        zoomType: 'x',
        events: { selection: onZoom }
      },
      title: {
        text: null
      },
      subtitle: {
        text: null
      },
      xAxis: {
        type: 'datetime'
      },
      yAxis: {
        title: {
          text: 'Lines of code'
        }
      },
      legend: {
        enabled: true
      },
      series: <%=raw highchart_series(@language_distribution, @frequency) %>
    })
  </script>
<% end %>

<%= link_to "Back to repositories list", repositories_path %>
