<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<h1>Dashboard</h1>

<h2>Lines of code per repo</h2>

<ul>
  <% @repos_current_loc.each do |repo, loc| %>
  <li><%= repo %> <%= loc %></li>
  <% end %>
</ul>

<p>
  Frequency: <%= @frequency %>
</p>

<h2>Lines of code: Implementation</h2>
<canvas id="chart-implementation"></canvas>
<script>
  var ctx = document.getElementById('chart-implementation').getContext('2d')
  var chart = new Chart(ctx, {
    type: 'line',
    data: <%=raw chart_data(@repos_interval_implementation, @frequency) %>,
    options: {}
  })
</script>

<h2>Lines of code: Total</h2>
<canvas id="chart-total"></canvas>
<script>
  var ctx = document.getElementById('chart-total').getContext('2d')
  var chart = new Chart(ctx, {
    type: 'line',
    data: <%=raw chart_data(@repos_interval_total, @frequency) %>,
    options: {}
  })
</script>
