<!DOCTYPE html>
<html>
  <head>
    <title>Evolution</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <style type="text/css">
      .highcharts-credits { display: none; }
    </style>
    <script defer src="https://cdn.jsdelivr.net/npm/rails-ujs@5.2.5/lib/assets/compiled/rails-ujs.min.js"></script>
    <script defer src="https://unpkg.com/es-module-shims@0.5.0/dist/es-module-shims.min.js"></script>
    <script type="importmap-shim">
      {
        "imports": {
          "turbolinks": "https://cdn.skypack.dev/pin/turbolinks@v5.2.0-2LUNRijzwSWtzXepBHKc/min/turbolinks.js"
        }
      }
    </script>
    <%= buildless_module "application" %>
  </head>

  <body>
    <% if user_signed_in? %>
      <br>
      <%= link_to "Repositories", repositories_path %>
      <%= link_to "Charts", charts_path %>
      <%= link_to "Filters", filters_path %>
      <%= link_to "Sign out", session_path, method: "delete" %>
    <% end %>
    <%= yield %>
  </body>
</html>
